.Background {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.bottom-eclipse {
    height: 47vh;
    width: 52vw;
    border-radius: 50%;
    position: absolute;
    left: -9vw;
    bottom: -32vh;
}

.bottom-eclipse.reversed {
    bottom: -23vh;
    right: -23vw;
    left: unset;
}

.top-eclipse {
    height: 46vh;
    width: 52vw;
    border-radius: 50%;
    position: absolute;
    right: -13vw;
    top: -23vh;
}

.top-eclipse.reversed {
    left: -19vw;
    top: -29vh;
    right: unset;
}