.skill-block-container {
    width: 300px;
    padding: 20px 30px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 3px 3px 15px rgba(0, 34, 255, 0.16);
    display: flex;
    flex-direction: column;
    margin: 15px 30px;
}

.skill-block-container.dark {
    background: #000;
    box-shadow: 0px 0px 25px #845600c5;
    color: orange;
}

@media only screen and (max-width: 700px) {
    .skill-block-container {
        width: 280px;
    }
}

.skill-block-category {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: bold;
}

.skill-block-small-text {
    font-family: Arial;
    font-size: 15px;
}

.skill-block-text {
    font-family: Arial;
    font-size: 19px;
}

.top-level {
    color: #059e46;
}

.mid-level {
    color: #005cd8;
}

.low-level {
    color: #a7009b;
}

.skill-item-container {
    margin-top: 20px;
}

.skill-item-level {
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    max-width: 0;
    animation-delay: 0.3s !important;
    animation: increase-width .7s forwards;
}

.top-level .skill-item-level {
    background-color: #059e46;
}

.mid-level .skill-item-level {
    background-color: #005cd8;
}

.low-level .skill-item-level {
    background-color: #a7009b;
}