.time-line-container {
    height: 100%;
}

.time-line-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.time-line-content-container {
    display: block;
    transition: 0.5s;
    width: 350px;
    padding: 30px;
    border-radius: 30px;
    background: #fff;
    text-align: justify;
    box-shadow: 3px 3px 10px rgba(0, 68, 255, 0.54);
}

.time-line-content-inner-container {
    max-height: 350px;
    overflow: auto;
    transition: 0.3s;
}

.time-line-content-container .company-name {
    color: #797979;
    margin-top: 5px;
    margin-bottom: 15px;
}

a.company-name {
    color: blue !important;
    display: inline-block;
}

.time-line-bar-outter-container {
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
}

.time-line-content-bullet {
    margin-bottom: 10px;
    display: flex;
}

@media only screen and (max-width: 700px) {
    .time-line-bar-outter-container {
        margin-left: 2%;
        margin-right: 2%;
    }

    .time-line-content-container {
        width: 65vw;
    }

    .time-line-content-inner-container {
        max-height: 280px;
    }
}